@page "/Cliente/Cadastro"


<head>
    <title>Cadastro</title>
</head>

<body>
<h1>Cadastro</h1>

<p>Realize seu cadastro</p>

        <div class="mb-3">
            <div>Nome</div>
            <input type="text" class="form-control" placeholder="Digite seu nome" />
        </div>
        <div class="mb-3">
            <div>Email</div>
            <input type="email" class="form-control" placeholder="Digite seu e-mail" />
        </div>
        <div class="mb-3">
            <div>Senha</div>
            <input type="password" class="form-control" placeholder="Crie uma senha" />
        </div>
        <div class="mb-3">
            <div>CPF</div>
            <input type="text" class="form-control" placeholder="Digite seu CPF" />
        </div>
        <div class="mb-3">
            <div>Celular</div>
            <input type="tel" class="form-control" placeholder="Digite seu número de celular" />
        </div>

        <button class="btn btn-primary" type="submit">Cadastrar</button>
</body>

@code {

}
