@page "/"
@using LeafletForBlazor

<h1>Mapa</h1>

<RealTimeMap height="460px" width="620px"></RealTimeMap>

@code {
    RealTimeMap.MapOptions options = new RealTimeMap.MapOptions()
        {
            interactionOptions = new RealTimeMap.InteractionOptions()
            {
                doubleClickZoom = true,
                shiftBoxZoom = false
            }
        };
}