@page "/Motorista/Home"
<h1>Seus dados</h1>
  <p>Veja e altere suas informações cadastradas.</p>

  <div>
    <form>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </div>

        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf">
        </div>

        <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <input type="tel" class="form-control" id="celular">
        </div>

        <button type="submit" class="btn btn-primary">Salvar alterações</button>
    </form>
</div>

@code {

}
