@page "/Motorista/Login"

<head>
    <title>Login - Motorista</title>

</head>
<body>
    <h1>Login - Motorista</h1>

    <div class="mb-3">
        <div>Email</div>
        <input type="text" class="form-control" placeholder="Digite seu e-mail" />
    </div>
    <div class="mb-3">
        <div>Senha</div>
        <input type="password" class="form-control" placeholder="Digite sua senha" />
    </div>
    <div class="d-flex">
        <a href="/" class="btn btn-primary ms-3">Login</a>
        <a href="/Motorista/RedefinirSenha" class="btn btn-secondary ms-3">Redefinir senha</a>
    </div>
</body>

@code {

}
