@page "/Motorista/RedefinirSenha"

<h3>Redefinir Senha</h3>

<div class="mb-3">
    <div>Senha nova</div>
    <input type="password" class="form-control" placeholder="Digite sua nova senha" />
</div>
<div class="mb-3">
    <div>Confirmar senha</div>
    <input type="password" class="form-control" placeholder="Confirme sua nova senha" />
</div>
<div class="d-flex">
    <a href="/Motorista/Login" class="btn btn-primary ms-3">Redefinir senha</a>
</div>

@code {

}
